.shelf
	width 100%
	display grid
	grid-template-columns repeat(5, 1fr)
	grid-gap 40px
	
	+below('xxl')
		grid-template-columns repeat(4, 1fr)
	+below('l')
		grid-template-columns repeat(3, 1fr)
	+below('m')
		grid-template-columns repeat(2, 1fr)
	+below('s')
		grid-template-columns repeat(1, 1fr)
	
	.book
		display flex
		flex-direction column
		
		&-image
			-webkit-box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.15)
			box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.15)
			height 317px
			+below('xl')
				height 260px
			+below('m')
				height auto
			
			img
				width 100%
				height 100%
				object-fit cover
		
		strong
			text-align center
			font-size var(--font-big)
			padding 10px 0
