.news
	.news-content
		padding 40px 0
		
		.news-slide
			color inherit
			display flex
			flex-direction column
			align-items center
			border 1px solid rgba(0, 0, 0, 0.10)
			border-radius 4px
			padding 20px
			height 180px
			+below('xxl')
				height auto
			
			.title
				display flex
				flex-direction column
				align-items center
				
				.date
					span[class*="icon"]
						font-size var(--font-small)
				
				h3
					color $secondary
					font-size var(--font-big)
					
					&:hover
						color $secondary-hover
			
			.content
				text-align center
	
	.sticky
		width 100%
		padding 20px
		border 1px solid rgba(0, 0, 0, 0.10)
		border-radius 4px
		margin-bottom 20px
		
		&-header
			display flex
			justify-content space-between
			align-items center
		
		h3
			font-size var(--font-great)
			color $secondary
			
			&:hover
				color $secondary-hover
