.construction
	width 100%
	background url("/src/img/construction-3d.png")
	
	.container
		height 50px
		display flex
		justify-content center
		align-items center
		color white
		font-weight bold
		
		> span
			height 100%
			display flex
			align-items center
			padding 0 20px
			text-transform uppercase
			background rgba(black, 0.8)
			
			> i.construction-close
				padding 20px 10px
				cursor pointer

//background url("/src/img/construction-3d.png")
