.post-wrapper
	padding-top 140px
	padding-bottom 80px
	
	.article-header
		display flex
		justify-content center
		align-items center
		flex-direction column
		
		h1
			text-align center
			font-size var(--font-huge)
			position relative
			z-index 2
			
			&::after
				content ''
				left -10px
				z-index -1
				width 100%
				position absolute
				height 10px
				background rgba($yellow, 0.3)
				margin 0
				bottom 18px
				box-sizing content-box
				padding 0 10px
				border-radius 4px
	
	.post-image
		width 100%
		height 500px
		margin-top 20px
		
		img
			width 100%
			height 100%
			object-fit cover
	
	.article-body
		padding-top 20px
