transition(type = all, $time = 300ms)
	-webkit-transition type $time ease-in-out
	-moz-transition type $time ease-in-out
	-ms-transition type $time ease-in-out
	-o-transition type $time ease-in-out
	transition type $time ease-in-out
