organic($random = true, $force = 0, $treshold = 0, a = 'random', b = 'random', c = 'random', d = 'random', $setSide = 2)
	if $random
		if a == ('random')
			a = random($treshold, $force)
		if b == ('random')
			b = random($treshold, $force)
		if c == ('random')
			c = random($treshold, $force)
		if d == ('random')
			d = random($treshold, $force)
		if $setSide < 2
			$side = $setSide
		else
			$side = random(0, 1)
		if $side == 0
			border-radius a "calc(100% - %s)" % (a) c "calc(100% - %s)" % (c) / "calc(100% - %s)" % (d) b "calc(100% - %s)" % (b) d
		else
			border-radius "calc(100% - %s)" % (a) a "calc(100% - %s)" % (c) c / b "calc(100% - %s)" % (d) d "calc(100% - %s)" % (b)
	else
		border-radius a "calc(100% - %s)" % (a) c "calc(100% - %s)" % (c) / "calc(100% - %s)" % (d) b "calc(100% - %s)" % (b) d
