@font-face
	font-family 'icomoon'
	src url('../../../../fonts/icons/icomoon.eot?ceh07u')
	src url('../../../../fonts/icons/icomoon.eot?ceh07u#iefix') format('embedded-opentype'),
	url('../../../../fonts/icons/icomoon.ttf?ceh07u') format('truetype'),
	url('../../../../fonts/icons/icomoon.woff?ceh07u') format('woff'),
	url('../../../../fonts/icons/icomoon.svg?ceh07u#icomoon') format('svg')
	font-weight normal
	font-style normal
	font-display block

[class^="icon-"], [class*=" icon-"]
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family 'icomoon' !important
	speak never
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-boy-scout:before {
	content: "\e906";
}
.icon-teepee:before {
	content: "\e904";
}
.icon-ski:before {
	content: "\e905";
}
.icon-compass:before {
	content: "\e900";
}
.icon-lilly:before {
	content: "\e901";
}
.icon-bonfire:before {
	content: "\e902";
}
.icon-sign-post:before {
	content: "\e903";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
