.btn, .wp-block-button__link
	text-align center
	text-transform uppercase
	font-weight bold
	padding 10px 20px
	border-radius 24px
	background $gray
	color white
	transition(background)
	
	&-inverse
		background transparent
		border 1px solid $primary
		color $primary
	
	&-primary
		background $primary
		
		&:hover
			background $primary-hover
	
	&-secondary
		background $secondary
		
		&:hover
			background $secondary-hover
	
	&-medium
		padding 12px 28px
		font-size var(--font-medium)

.wp-block-button__link
	background $secondary !important
	
	&:hover
		background $secondary-hover !important
