.homepage
	
	section:not(.hero)
		padding 40px 0
		
		header
			display flex
			justify-content center
			
			h2
				text-align center
				font-weight bold
				color $dark
				font-size var(--font-huge)
				position relative
				display flex
				justify-content center
				width auto
				
				&::after
					content ''
					width 100%
					position absolute
					height 10px
					background rgba($yellow, 0.3)
					margin 0
					bottom 18px
					box-sizing content-box
					padding 0 10px
					border-radius 4px
			
			time
				span
					font-size var(--font-huge)
