footer
	background $deep
	padding 40px 0
	color white
	
	a
		color $primary
		
		&:not(.btn):hover
			color $primary-hover
	
	.footer-columns
		display grid
		grid-template-columns repeat(4, 1fr)
		
		+below('m')
			grid-template-columns repeat(2, 1fr)
		+below('s')
			grid-template-columns repeat(1, 1fr)
		
		.footer-column
			display flex
			flex-direction column
			align-items flex-start
			
			
			&:last-child
				align-items flex-end
			
			+below('m')
				&:nth-child(even)
					align-items flex-end
			+below('s')
				align-items center !important
		
		
		.footer-title
			color $primary
			font-size var(--font-medium)
			
			span
				color white
		
		.footer-card
			margin-top 10px
			font-style normal
			background $primary
			color $default
			padding 20px
			border-radius 4px
		
		
		.social-icons
			display flex
			
			a
				padding 4px
				font-size var(--font-medium)
		
		ul.footer-links
			padding-inline-start 14px
			
			li
				position relative
				
				&::before
					content '-'
					padding 0 2px
					position absolute
					left -14px
				
				
				a
					color white
					
					&:hover
						color $primary
