.container
	width 1400px
	position relative
	margin-left auto
	margin-right auto
	padding-left 15px
	padding-right 15px
	
	+below('xxl')
		width $frame-width
	
	+below('xl')
		width 960px
	+below('l')
		width 720px
	+below('m')
		width 100%
