.history-links
	font-weight bold
	font-size var(--font-small)
	padding 20px 0
	text-align center
	position sticky
	display block
	top 140px
	z-index 7
	background white
	margin -40px -40px 40px
	box-shadow 0 1px 0 0 rgba(0, 0, 0, 0.12)
	
	a
		padding 0 4px
		line-height 2
