a
	color $secondary
	cursor pointer
	text-decoration none
	transition(color, 200ms)
	
	&:not(.btn):not(.wp-block-button__link):hover
		color $secondary-hover
	
	&.vivid
		position relative
		display block
		
		&::after
			content ''
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			opacity 0
			background rgba($secondary, 0.5)
			transition(opacity)
		
		&:hover
			&::after
				opacity 1
