section.hero
	width 100%
	height 100vh
	
	@media screen and (orientation: landscape)
		min-height 800px
	background $yellow-secondary
	position relative
	
	display flex
	flex-direction column
	align-items center
	justify-content space-between
	padding 140px 0 40px
	+below('s')
		padding 120px 0 20px
	
	
	.title
		width 100%
		justify-content center
		z-index 2
		display flex
		flex-direction column
		align-items center
		mix-blend-mode darken
		
		img
			width 540px
			height auto
		
		strong
			margin-top 40px
			font-size var(--font-great)
			+below('s')
				font-size var(--font-large)
	
	.troops
		z-index 2
		display flex
		align-items center
		justify-content space-between
		mix-blend-mode darken
		max-width 600px
		width 100%
		padding 0 20px
		
		.troop
			display flex
			flex-direction column
			align-items center
			color $dark
			
			&:hover
				
				img
					filter invert(1)
			
			strong
				font-size var(--font-big)
				margin-top 20px
			
			img
				width 200px
				+below('m')
					width 140px
	
	
	.background
		width 100%
		height 100%
		position absolute
		top 0
		left 0
		
		img
			width 100%
			height 100%
			object-fit cover
			object-position center
