.hamburger
	font-size var(--font-large)
	color $secondary
	+above('m')
		display none
	
	.close
		display none
	
	.open
		display block
	
	&.active
		.close
			display block
		
		.open
			display none
