.homepage-gallery
	width 100%
	background $deep
	
	header
		padding-bottom 20px
		
		h2
			color white !important
			
			&::after
				display none
	
	&-grid
		display grid
		grid-template-columns repeat(6, 1fr)
		+below('xl')
			grid-template-columns repeat(4, 1fr)
		+below('l')
			grid-template-columns repeat(3, 1fr)
		+below('m')
			grid-template-columns repeat(2, 1fr)
		grid-auto-rows 1fr
		margin-bottom 40px
		
		.gallery-item
			display flex
			position relative
			
			&::before
				content ""
				padding-bottom 100%
				display block
			
			.gallery-item-title
				position absolute
				left 0
				top 0
				width 100%
				height 100%
				color white
				display flex
				justify-content center
				align-items center
				font-weight bold
				text-align center
				z-index 2
				opacity 0
				transition(opacity)
			
			&:hover
				.gallery-item-title
					opacity 1
			
			.img-container
				width 100%
				height 100%
				background black
				position relative
				
				img
					position absolute
					width 100%
					height 100%
					object-fit cover
			
			&:nth-child(odd)
				.gallery-item-title
					background rgba($secondary, 0.8)
			
			&:nth-child(even)
				.gallery-item-title
					background rgba($primary, 0.8)
