<section class="about" id="about">
	<div class="misc">
		<img src="{{ theme.link }}/src/img/about/steps01.png" class="topleft" alt="turtle steps"/>
		<img src="{{ theme.link }}/src/img/about/steps03.png" class="bottomright" alt="turtle steps"/>
	</div>
	<div class="container">
		<div class="entree">
			<header>
				<h2>O nás</h2>
			</header>
			<div class="features">
				<span class="feature">
					<span class="icon-group"></span>
					<strong>98 členů</strong>
				</span>
				<span class="feature">
					<span class="icon-bonfire"></span>
					<strong>2 oddíly</strong>
				</span>
				<span class="feature">
					<span class="icon-clock-o"></span>
					<strong>{{ ("now"|date("Y")) - 1993 }} let historie</strong>
				</span>
			</div>
		</div>
		<div class="story">
			<p>
				Jsme skautské středisko z Prahy - Modřan spadající pod českou skautskou organizaci Junák. V rámci střediska fungují dva koedukované oddíly - Anpetu a Hanyetu.
			</p>
		</div>
		<div class="about-buttons">
			<a href="/historie" class="btn btn-secondary btn-about">Historie</a>
			<a href="/skauting" class="btn btn-secondary btn-about">Skauting</a>
			<a href="/stredisko" class="btn btn-secondary btn-about">Středisko</a>
		</div>
	</div>
</section>
