<section class="homepage-chronicle" id="knihovna">
	<header>
		<h2>Knihovna</h2>
	</header>

	<div class="container">
		<div class="reel">
			<div class="reel-item">
				<a class="reel-item-header" href="https://www.facebook.com/SkautiKeya" target="_blank">
					<img src="{{ theme.link }}/src/img/reel/facebook.png" alt="facebook">
					<strong>Facebook</strong>
				</a>
				<div class="reel-item-description">
					Jsme na Facebooku! Můžete tam objevit momentky z aktuálního dění nebo se třeba zúčastnit fotohry. Určeno především členům, jejich rodičům a dalším přátelům Keyi.
				</div>
			</div>
			<div class="reel-item">
				<a class="reel-item-header" href="https://www.youtube.com/channel/UCWCasIWoWalcF5pA2pgQx4Q" target="_blank">
					<img src="{{ theme.link }}/src/img/reel/youtube.png" alt="Keya TV">
					<strong>Keya TV</strong>
				</a>
				<div class="reel-item-description">
					Jsme i na Youtube! Na našem youtubovém kanále najdete filmy z tábora, reportáže z akcí, záznamy online čtení nebo autorská díla družinek.
				</div>
			</div>
			<div class="reel-item">
				<a class="reel-item-header" href="/knihy-keya">
					<img src="{{ theme.link }}/src/img/reel/book.png" alt="kniha Keya">
					<strong>Kniha KEYA</strong>
				</a>
				<div class="reel-item-description">
					Od roku 1998 vychází naše ročenka shrnující očima účastníků všechny důležité události uplynulého roku. V archivu najdete stovky stran
				</div>
			</div>
		</div>

	</div>

</section>
