<section class="homepage-gallery">
	<header>
		<h2>Galerie</h2>
	</header>
	<div class="homepage-gallery-grid">
		{% for item in galleryFeed | slice(0,12) %}
			<a class="gallery-item" href="{{ item.link }}" target="_blank">
				<div class="gallery-item-title">
					{{ item.title }}
				</div>
				<div class="img-container">
					<img src="{{ item.img }}" alt="{{ item.title }}"/>
				</div>
			</a>
		{% endfor %}
	</div>
	<div class="center">
		<a href="/galerie" class="btn btn-secondary">Prohlédnout galerii</a>
	</div>
</section>
