<section class="hero">
	<div class="background">
		<img src="{{ theme.link }}/src/img/hero/bg-color.png" alt="rozbřeskł"/>
	</div>
	<div class="title">
		<img src="{{ theme.link }}/src/img/logo.png" alt="logo">
		<strong>42. skautské středisko</strong>
	</div>
	<div class="troops">
		<a class="troop">
			<img src="{{ theme.link }}/src/img/logo_anpetu.png">
			<strong>ANPETU</strong>
		</a>
		<a class="troop">
			<img src="{{ theme.link }}/src/img/logo_hanyetu.png">
			<strong>HANYETU</strong>
		</a>
	</div>
</section>
