<section class="news" id="news">
	<div class="container">
		<header>
			<h2>Aktuality</h2>
		</header>

		<div class="news-content">
			{% if sticky.title %}
				<div class="sticky">
					<div class="sticky-header">
						<a href="{{ sticky.link }}"><h3>{{ sticky.title }}</h3></a>
						<div class="date"><span class="icon-clock-o"></span> {{ sticky.date }}</div>
					</div>
					<div class="sticky-body">
						{{ sticky.content|striptags|slice(0,400) ~ '...' }}
					</div>
				</div>
			{% endif %}
			<div class="glide">
				<div class="glide__track" data-glide-el="track">
					<ul class="glide__slides">
						{% for slide in news | slice(0,5) %}
							<li class="glide__slide">
								<div class="news-slide">
									<div class="title">
										<div class="date"><span class="icon-clock-o"></span> {{ slide.date }}</div>
										<a href="{{ slide.link }}">
											<h3>{{ slide.title }}</h3>
										</a>
									</div>
									<div class="content">
										{{ slide.content | striptags | slice(0, 150) ~ '...' }}
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="center">
			<a href="/aktuality" class="btn btn-secondary">Další aktuality</a>
		</div>
	</div>
</section>
