nav.navbar-mobile
	+above('m')
		display none
	width 100%
	height 100vh
	position absolute
	top 60px
	left 0
	z-index 9
	background white
	overflow-y auto
	display none
	
	&.active
		display block
	
	.navbar-mobile-link
		display flex
		flex-direction column
		
		a
			display block
			padding 15px 20px
			font-weight bold
		
		&.menu-item-has-children
			> a
				&::after
					content '\f107'
					font-family 'icomoon', sans-serif
					position absolute
					right 20px
				
				&.active
					&::after
						content '\f106'
		
		.navbar-mobile-children
			padding-left 20px
			background rgba(0, 0, 0, 0.05)
			display none
			
			&.active
				display block
