.history
	display flex
	flex-direction column
	align-items center
	position relative
	margin-bottom 40px
	font-size var(--font-normal)
	
	+below('l')
		align-items flex-start
	+below('s')
		align-items center
	
	.line
		width 10px
		height 100%
		position absolute
		top 1px
		background $yellow
		display flex
		justify-content center
		
		+below('l')
			margin-left 55px
		+below('s')
			margin-left 0
		
		.topper
			position absolute
			bottom -10px
			width 20px
			height 20px
			background $yellow
			border-radius 20px
	
	
	.year
		display flex
		margin-bottom 80px
		position relative
		width 100%
		
		+below('s')
			flex-direction column
			align-items center
		
		&:nth-child(even)
			flex-direction row-reverse
			+below('l')
				flex-direction row
			+below('s')
				flex-direction column
		
		h2
			background $yellow-secondary
			height 60px
			width 60px
			display flex
			justify-content center
			align-items center
			border-radius 80px
			font-size var(--font-medium)
			margin 0 20px
			
			&.foundation
				background $secondary
			
			&.prefoundation
				background $primary-hover
			
			+below('s')
				margin-bottom 20px
		
		
		&-description
			flex 1
			width 100%
			background white
			box-shadow 1px 5px 13px 1px rgba(0, 0, 0, 10%)
			padding 10px 0
			
			.year-description-title
				display flex
				justify-content flex-start
				align-items center
				+below('s')
					flex-direction column
				
				h3
					span[class*="icon"]
						margin-right 10px
					+below('s')
						text-align center
						font-size var(--font-medium)
						display flex
						flex-direction column
						align-items center
						
						span[class*="icon"]
							margin-right 0
				
				.venue
					margin-left 15px
					font-style italic
					font-size var(--font-normal)
			
			.summer, .winter, .lide, .events
				padding 10px 20px
				
				h3
					position relative
					z-index 2
					
					&::after
						width 100%
						height 8px
						position absolute
						content ''
						bottom 8px
						left -10px
						padding 0 10px
						box-sizing content-box
						z-index -1
						background $summer
			
			.summer
				h3
					&::after
						background $summer
			
			.winter
				h3
					&::after
						background $winter
			
			.events
				h3
					&::after
						background #eaffea
			
			.lide
				h3
					&::after
						background $silk
			
			
			.others
				padding 20px
			
			.year-description-text
				ul
					list-style none
					padding-inline-start 1px
					margin 10px 0
					
					> li
						position relative
						
						&::before
							position absolute
							content '-'
							left -10px
		
		&-counterpart
			flex 1
			+below('l')
				display none
