{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<header class="header">
	{% block header %}
		<div class="container">
			<div class="wrapper">
				<a class="logo" href="/">
					<img src="{{ theme.link }}/src/img/logo.png" alt="logo">
				</a>
				<nav id="nav-main" class="navbar" role="navigation">
					{% include "menu.twig" with {'items': menu.get_items} %}
				</nav>
				<div class="hamburger">
					<span class="open">☰</span>
					<span class="close">×</span>
				</div>
				<nav id="nav-main-mobile" class="navbar-mobile">
					{% include 'menu-mobile.twig' with {'items': menu.get_items} %}
				</nav>
			</div>
		</div>
	{% endblock %}
</header>

<main id="content" role="main" class="content-wrapper">
	{% if title %}<h1>{{ title }}</h1>{% endif %}
	<div class="wrapper">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
</main>

{% block footer %}
	<footer id="footer" class="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}
{% block javascripts %}
	<script src="{{ theme.link }}/dist/main.js"></script>
{% endblock %}
</body>
</html>
