<div class="container">
	<div class="footer-columns">
		<div class="footer-column special">
			<h3 class="footer-title"><span>42. Středisko</span> KEYA <span>Praha</span></h3>
			<div class="footer-card">
				<strong>Junák - český skaut,<br> středisko Keya Praha, z.s.</strong> <br>
				Věkova 498/48<br>
				147 00 Praha<br>
				Hlavní město Praha<br><br>
				IČO: 9948805
			</div>
		</div>
		<div class="footer-column">
			<ul class="footer-links">
				{% for item in footerOne.items %}
					<li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="footer-column">
			<ul class="footer-links">
				{% for item in footerTwo.items %}
					<li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{# <div class="footer-column"> #}
		{# <ul class="footer-links"> #}
		{# {% for item in footerThree.items %} #}
		{# <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li> #}
		{# {% endfor %} #}
		{# </ul> #}
		{# </div> #}
		<div class="footer-column last">
			<div class="social-icons">
				<a href="https://www.facebook.com/SkautiKeya" target="_blank">
					<span class="icon-facebook-square"></span>
				</a>
				<a href="https://www.youtube.com/channel/UCWCasIWoWalcF5pA2pgQx4Q" target="_blank">
					<span class="icon-youtube-play"></span>
				</a>
			</div>
			&copy; {{ "now"|date('Y') }}
		</div>
	</div>
</div>
