<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>
	<meta charset="{{ site.charset }}"/>
	<meta name="description" content="{{ site.description }}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="author" href="{{ site.theme.link }}/humans.txt"/>
	<link rel="pingback" href="{{ site.pingback_url }}"/>
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="stylesheet" href="{{ theme.link }}/dist/style.css?v={{ random(100) }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/favicon-16x16.png">
	<link rel="manifest" href="{{ theme.link }}/site.webmanifest">
	<link rel="mask-icon" href="{{ theme.link }}/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="theme-color" content="#ffffff">

	{{ function('wp_head') }}
