{% if menu %}
	<div class="menu-wrapper">
		{% for item in items %}
			<div class="navbar-link {{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" {% if item.children | length < 1 %}href="{{ item.link }}"{% endif %}>{{ item.title }}</a>
				{% include "submenu.twig" with {'items': item.children} %}
			</div>
		{% endfor %}
	</div>
{% endif %}
