{% if menu %}
	<div class="navbar-mobile-wrapper">
		{% for item in items %}
			<div class="navbar-mobile-link {{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" {% if item.children | length < 1 %}href="{{ item.link }}"{% endif %}>{{ item.title }}</a>
				<div class="navbar-mobile-children">
					{% include 'menu-mobile.twig' with  {'items': item.children} %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}
