{% extends 'page.twig' %}
{% block pageContent %}
	<div class="history-post">
		{{ post.content }}
		<div class="buttons-grid">
			<a href="/taboriste" class="btn btn-secondary">Mapka tábořišť</a>
		</div>
	</div>
	<div class="history-links">
		{% for year in history %}
			<a href="#{{ year.title }}">{{ year.title }}</a>
		{% endfor %}
	</div>
	<div class="history" id="history">

		<div class="line">
			<div class="topper"></div>
		</div>
		{% for year in history %}
			<div class="year" id="{{ year.title }}">
				<div class="year-counterpart"></div>
				<h2 class="{{ year.klicovy_rok ? 'foundation' : '' }} {{ year.pred_vznikem ? 'prefoundation' : '' }}">{{ year.title }}</h2>
				<div class="year-description">
					{% if year.summer_title %}
						<div class="summer">
							<div class="year-description-title">
								<h3><span class="icon-teepee"></span>{{ year.summer_title }}</h3>
								<div class="venue">({{ year.summer_venue }})</div>
							</div>
							<div class="year-description-text">
								{{ year.summer_description }}
							</div>
						</div>
					{% endif %}
					{% if year.winter_title %}
						<div class="winter">
							<div class="year-description-title">
								<h3><span class="icon-ski"></span>{{ year.winter_title }}</h3>
								{% if year.winter_venue %}
									<div class="venue">({{ year.winter_venue }})</div>
								{% endif %}
							</div>
							<div class="year-description-text">
								{{ year.winter_description }}
							</div>
						</div>
					{% endif %}
					{% if year.lide %}
						<div class="lide">
							<div class="year-description-title">
								<h3><span class="icon-boy-scout"></span>Lidé</h3>
							</div>
							<div class="year-description-text">
								{{ year.lide }}
							</div>
						</div>
					{% endif %}
					{% if year.post_content %}
						<div class="events">
							<div class="year-description-title">
								<h3><span class="icon-sign-post"></span>Události</h3>
							</div>
							<div class="year-description-text">
								{{ year.post_content }}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div data-name="history"></div>
{% endblock %}
