{% extends 'page.twig' %}
{% block pageContent %}
	<div class="feed">

		{% if sticky.title %}
			<div class="feed-post sticky">
				<div class="feed-post-header">
					<a href="{{ sticky.link }}">
						<h2 class="title">{{ sticky.title }}</h2>
					</a>
					<div class="date">{{ sticky.date }}</div>
				</div>
				<div class="feed-post-preview">
					{{ sticky.content | striptags | slice(0,200) }}
				</div>
			</div>
		{% endif %}
		{% for post in news %}
			<div class="feed-post">
				<div class="feed-post-header">
					<a href="{{ post.link }}">
						<h2 class="title">{{ post.title }}</h2>
					</a>
					<div class="date">{{ post.date }}</div>
				</div>
				<div class="feed-post-preview">
					{{ post.content | striptags | slice(0,200) }}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
