{% extends 'page.twig' %}
{% block pageContent %}
	{{ post.content }}
	<div class="shelf">
		{% for book in knihy %}
			<a class="book" href="{{ book.booklink }}" target="_blank">
				<div class="book-image">
					<img src="{{ Image(book.obrazek).src | resize(300) }}" alt="{{ book.title }}">
				</div>
				<strong>{{ book.title }}</strong>
			</a>
		{% endfor %}
	</div>
{% endblock %}
