{% extends "base.twig" %}

{% block content %}
	<div class="homepage" data-name="homepage">
		{% include 'homepage/hero.twig' %}
		{% include 'homepage/construction.twig' %}
		{% include 'homepage/news.twig' %}
		{% include 'homepage/about.twig' %}
		{% include 'homepage/gallery.twig' %}
		{% include 'homepage/chronicle.twig' %}
	</div>
{% endblock %}
