{% extends 'page.twig' %}
{% block pageContent %}
	<div class="gallery-grid">
		{% for item in galleryFeed %}
			<a class="gallery-grid-item" href="{{ item.link }}">
				<img src="{{ item.img }}" alt="{{ item.title }}">
				<span class="title">{{ item.title }}</span>
			</a>
		{% endfor %}
		<a href="http://skautikeya.rajce.idnes.cz/" class="gallery-grid-item last">
			+ další alba na rajčeti
		</a>
	</div>
{% endblock %}
