{% extends "base.twig" %}

{% block content %}
	<section class="page">
		{{ dump }}
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<header>
				<h1>{{ post.title }}</h1>
				{% if post.thumbnail %}
					<div class="page-featured-image">
						<img src="{{ post.thumbnail.src }}" alt="Image for {{ post.title }}"/>
					</div>
				{% endif %}
				{{ breadcrumbs }}
			</header>
			<div class="container">
				<section class="article-content">
					<div class="article-body">
						{% block pageContent %}
							{{ post.content }}
						{% endblock %}
					</div>
				</section>
			</div>
		</article>
	</section><!-- /content-wrapper -->
{% endblock %}
