{% extends "base.twig" %}

{% block content %}
	<div class="post-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="container">
				<section class="article-content">
					<header class="article-header">
						<h1>{{ post.title }}</h1>
						<time datetime="{{ post.date|date('Y-m-d H:i:s') }}" class="date"><span class="icon-clock-o"></span> {{ post.date }}</time>
					</header>
					{% if post.thumbnail.src %}
						<div class="post-image">
							<img src="{{ post.thumbnail.src }}" alt="{{ post.title }}">
						</div>
					{% endif %}
					<div class="article-body">
						{{ post.content }}
					</div>
				</section>

			</div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
