{% if items %}
	<div class="submenu">
		{% for item in items %}
			<div class="navbar-link">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% include "submenu.twig" with {'items': item.children} %}
			</div>
		{% endfor %}
	</div>
{% endif %}
