section.about
	width 100%
	background #FFFFE3
	position relative
	
	.misc
		position absolute
		left 0
		top 0
		width 100%
		opacity 0.15
		height 100%
		
		img.topleft
			width 40vw
			height auto
			position absolute
			left 0
			top 0
		
		img.bottomright
			width 40vw
			height auto
			position absolute
			bottom 0
			right 0
	
	.entree
		width 100%
		display flex
		justify-content center
		align-items center
		flex-direction column
		
		.features
			display flex
			+below('s')
				flex-direction column
			
			.feature
				font-size var(--font-medium)
				+below('s')
					display flex
					align-items center
					flex-direction column
				
				&:not(:first-child)
					
					&::before
						content '•'
						padding 0 10px
	
	.story
		margin-top 20px
		font-size var(--font-medium)
		
		p
			margin-bottom 20px
	
	.about-buttons
		display flex
		justify-content center
		padding 20px 0
		+below('s')
			flex-direction column
		
		.btn
			margin 0 10px
			+below('s')
				margin 10px
