.gallery-grid
	display grid
	grid-template-columns repeat(6, 1fr)
	+below('xxl')
		grid-template-columns repeat(5, 1fr)
	+below('xl')
		grid-template-columns repeat(4, 1fr)
	+below('l')
		grid-template-columns repeat(3, 1fr)
	+below('m')
		grid-template-columns repeat(2, 1fr)
	+below('s')
		grid-template-columns repeat(1, 1fr)
	margin-bottom 40px
	grid-gap 20px
	
	&-item
		width 100%
		height 100%
		position relative
		display flex
		justify-content center
		align-items center
		transition()
		
		&:hover
			.title
				opacity 1
		
		.title
			padding 20px
			color white
			text-align center
			z-index 2
			font-weight bold
			width 100%
			height 100%
			display flex
			justify-content center
			align-items center
			background rgba($secondary, 0.8)
			transition()
			opacity 0
			
			+below('xl')
				opacity 1
				height auto
				align-self flex-end
		
		&:hover
			transform scale(1.1)
		
		&.last
			background $secondary
			color white
			padding 20px
			font-size var(--font-big)
			text-align center
			
			&:hover
				color white !important
				background $secondary-hover
		
		&::before
			content ""
			padding-bottom 100%
			display block
		
		img
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			object-fit cover

