$sizes = {
 xs: 360px,
  s: 480px,
  m: 769px, //iPad has 798
  l: 960px,
  xl: 1140px,
  xxl: 1480px,
}

below($width)
	unless $width is a 'unit'
		$width = $sizes[$width]
	$width = $width - 0.1
	media = 'all and (max-width: %s)' % $width
	@media media
		{block}

above($width)
	unless $width is a 'unit'
		$width = $sizes[$width]
	media = 'all and (min-width: %s)' % $width
	@media media
		{block}

between($min-width, $max-width)
	$max-width = $max-width - 0.1
	media = 'all and (min-width: %s) and (max-width: %s)' % ($min-width $max-width)
	@media media
		{block}
