.feed
	display flex
	flex-direction column
	
	&-post
		width 100%
		padding 20px
		border-radius 4px
		border 1px solid rgba(black, 0.10)
		position relative
		color inherit
		
		
		background white
		margin-bottom 20px
		
		
		.feed-post-header
			display flex
			justify-content space-between
			align-items center
			
			h2
				font-size var(--font-big)
				color $secondary
				
				&:hover
					color $secondary-hover
			
			.date
				color $gray
				white-space nowrap
		
		&.sticky
			border none
			background $secondary
			color white
			
			.date
				color $shady
			
			h2
				color white
				
				&:hover
					color $shady
