header.header
	
	position fixed
	top 0
	background rgba(white, 0)
	+below('m')
		background rgba(white, 1)
	transition(background)
	width 100%
	z-index 9
	
	+below('l')
		.container
			width 100%
	
	&.scrolling
		background rgba(white, 1)
		-webkit-box-shadow 0 1px 5px 0 rgba(0, 0, 0, 0.15)
		box-shadow 0 1px 5px 0 rgba(0, 0, 0, 0.15)
	
	.wrapper
		height 100px
		width 100%
		display flex
		justify-content space-between
		align-items center
		+below('m')
			height 60px
		
		
		.logo
			img
				height 70px
				+below('m')
					height 50px
		
		nav.navbar
			font-size var(--font-small)
			
			> .menu-wrapper
				list-style none
				display flex
				padding-inline-start 0
				
				.navbar-link
					position relative
					padding 40px 20px
					
					&:hover
						> .submenu
							opacity 1
							pointer-events all
							transform translateY(0)
					
					
					&.menu-item-has-children
						padding-right 22px //ensures even spaces between navbar links
						
						> a
							
							&::after
								content '\f107'
								font-weight bold
								font-family 'icomoon', sans-serif
								margin-left 10px
								transform translateY(-3px) rotate(0deg)
								position absolute
								transition(transform)
						
						
						&:hover
							> a
								color $secondary
								
								&::after
									transform translateY(-3px) rotate(180deg)
					
					
					a
						text-transform uppercase
						font-weight bold
						color $dark
						padding 20px 10px
						
						&:hover
							color $secondary
					
					.submenu
						background white
						position absolute
						top 100px
						display flex
						flex-direction column
						opacity 0
						pointer-events none
						transform translateY(10px)
						transition(all, 300ms)
						min-width 200px
						-webkit-box-shadow 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
						box-shadow 0px 3px 6px 0px rgba(0, 0, 0, 0.15)
						border-radius 0 0 4px 4px
						
						.navbar-link
							position relative
							padding 0
							
							&:not(:last-child)
								border-bottom 1px solid rgba(0, 0, 0, 0.10)
							
							> .submenu
								left 100%
								top 0
								opacity 0
								pointer-events none
							
							&:hover
								> .submenu
									opacity 1
									pointer-events all
						
						a
							display block
							padding 15px 20px
			
			+below('m')
				display none


body:not(.home)
	header.header
		background white
		-webkit-box-shadow 0 1px 5px 0 rgba(0, 0, 0, 0.15)
		box-shadow 0 1px 5px 0 rgba(0, 0, 0, 0.15)
