body
	for fontsizeName, fontsizeValue in $fontSizes
		add-property('--font-' + fontsizeName, $remify(fontsizeValue))

h1
	font-size var(--font-great)

h2
	width 100%
	font-size var(--font-large)

h1, h2, h3, h4, h5, h6
	font-family 'Menco', sans-serif
	color $default

::selection
	background $primary
	color white
