.homepage-chronicle
	width 100%
	
	.reel
		display grid
		grid-template-columns repeat(3, 1fr)
		grid-gap 20px
		+below('xl')
			grid-template-columns repeat(2, 1fr)
		+below('m')
			grid-template-columns repeat(1, 1fr)
		
		&-item
			padding 20px
			display flex
			align-items center
			flex-direction column
			
			&-header
				display flex
				align-items center
				color $dark
				
				
				img
					height 50px
					width auto
					margin-right 20px
				
				strong
					font-size var(--font-big)
			
			&-description
				margin-top 20px
				text-align center
				font-size var(--font-small)
