section.page
	width 100%
	padding-top 100px
	+below('m')
		padding-top 60px
	
	padding-bottom 80px
	background $silk
	min-height 100vh
	
	header
		width 100%
		height 360px
		background black
		display flex
		justify-content center
		align-items center
		position relative
		
		h1
			text-transform uppercase
			color white
			z-index 2
		
		.page-featured-image
			position absolute
			top 0
			left 0
			right 0
			height 100%
			width 100%
			
			img
				opacity 0.5
				width 100%
				height 100%
				object-fit cover
		
		.breadcrumbs
			position absolute
			top 0
			left 0
			padding 20px 30px
			width auto
			text-align left
			color white
			transition(opacity)
			opacity 0.7
			font-size var(--font-small)
			
			&:hover
				opacity 1
			
			a
				color white
				font-weight bold
				
				&:hover
					text-decoration underline
	
	.container
		margin-top 0
	
	.article-content
		transform translateY(-40px)
		background white
		padding 40px
		font-size var(--font-normal)
		
		p
			margin-bottom 20px
